<!doctype html>
<html ng-app="MyApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div>
        <div ng-show="!isEditMode">
            <label>{{myName}}</label>
            <input type="button" value="Edit" ng-click="toggleEditMode()">
        </div>
        <div ng-show="isEditMode">
            <input type="text" ng-model="myName">
            <input type="button" value="Save" ng-click="toggleEditMode()">
        </div>
    </div>
</body>

</html>
